@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';


.eSportMenu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding-left: 10px;
  padding-right: 10px;
  @include maxCentered(1580);
  @include media("<=desktop") {
    display: flex;
    flex-direction: column;
    max-width: none;
    margin: 0;
    }
}