@import '../../styles/variables';
@import '../../styles/media';

.gamesMenu{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  z-index: 50;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background-color: rgba($c-Black-Coral, 0.4);
  transition: 2.5s all;
  
}

.wrapper{
  background-color: $c-Deep-Carrot-Orange;
  position: relative;
  top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include media("<=screen") {
    top: 58px;
  }
  @include media("<=desktop") {
    display: none;
  }

}

.logWindow{
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  @include media("<=screen") {
    top: 58px;
  }
  @include media("<=phone") {
    top: 48px;
  }
}

.cartWindow{
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  @include media("<=screen") {
    top: 58px;
  }
  @include media("<=phone") {
    top: 48px;
  }
}

.close{
  display: none;
}

.active{

  opacity: 1;
  pointer-events: all;
}

