@import '../../styles/variables';
@import '../../styles/media';

.gamesBlock {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  justify-items: center;
  @include media('<=desktop') {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    max-width: none;
    margin: 0;
  }
}
